@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  
  --font-family-sans: "Inter", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}